@font-face {
  font-weight: 300;
  font-family: "Gilroy";
  font-style: normal;

  src: url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-weight: 800;
  font-family: "Gilroy";
  font-style: normal;

  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: Gilroy, Arial, sans-serif;
  color: #000000;
  letter-spacing: 0.01em;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
          clip-path: inset(100%);

  -webkit-clip-path: inset(100%);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.btn {
  position: relative;

  display: inline-block;
  padding: 10px 42px;

  font: inherit;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  background-color: transparent;
  border: none;
  -webkit-transform: perspective(1px);
          transform: perspective(1px);
  cursor: pointer;
}

.btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

  height: 100%;

  background-color: #f0c52e;
  -webkit-transform: scaleY(0.2);
      -ms-transform: scaleY(0.2);
          transform: scaleY(0.2);
  -webkit-transform-origin: 50%;
      -ms-transform-origin: 50%;
          transform-origin: 50%;

  -webkit-transition: -webkit-transform 0.3s;
       -o-transition:         transform 0.3s;
          transition: -webkit-transform 0.3s;
          transition:         transform 0.3s;
          transition:         transform 0.3s, -webkit-transform 0.3s;
}

.btn:hover::after {
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
}

.btn:focus::after {
  color: #be9c22;

  background-color: #f0c52e;
}

.main-header {
  margin-top: 40px;
}

.main-menu {
  padding-right: 60px;
  padding-left: 60px;

  background-color: #f7e296;
}

.main-menu ul {
  list-style: none;
}

.main-header__logo {
  position: relative;
  top: -24px;
  left: -2px;
}

.main-header__logo a {
  font-size: 48px;
  line-height: 48px;
  color: #000000;
  text-transform: uppercase;
}

.main-header__logo a:hover {
  opacity: 0.6;
}

.main-header__logo a:focus {
  opacity: 0.3;
}

.main-menu__top-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin-top: -15px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.search-form {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 442px;
  padding-left: 40px;
}

.search-form::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 3px;

  width: 16px;
  height: 16px;

  background-image: url("../img/svg/search.svg");
  background-repeat: no-repeat;
}

.search-form__input {
  flex-grow: 1;
  height: 49px;

  font-size: 15px;
  line-height: 30px;
  font-family: "Open sans", Arial, sans-serif;

  background-color: inherit;
  border: none;
  border-bottom: 2px solid transparent;
  opacity: 0.3;

  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
}

.search-form__input:hover {
  opacity: 0.6;
}

.search-form__input:focus {
  border-bottom: 2px solid #000000;
  outline: none;
  opacity: 1;
}

.search-form__input:focus + .search-form__submit {
  visibility: visible;
}

.search-form__submit {
  width: 85px;
  height: 49px;

  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open sans", Arial, sans-serif;
  color: #000000;

  background-color: transparent;
  border: 2px solid #000000;
  visibility: hidden;
}

.search-form__submit:hover {
  color: #ffffff;

  background-color: #000000;
  cursor: pointer;
}

.search-form__submit:focus {
  background-color: #000000;
}

.search-form__submit:focus span {
  opacity: 0.3;
}

.user-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  min-width: 520px;
  margin: 0;
  padding: 0;

  -ms-flex-wrap: wrap;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 0;

  -webkit-box-align: start;
  -webkit-box-pack: justify;
  -ms-flex-align: start;
  -ms-flex-pack: justify;
}

.user-nav__link,
.site-nav__link,
.catalog-menu__link {
  color: #000000;
}

.site-nav__item:not(:first-child) {
  margin-right: -3px;
}

.site-nav__item:nth-child(2) {
  margin-right: 34px;
  margin-left: auto;
}

.site-nav__item:last-child {
  margin-left: 110px;
}

.site-nav__link {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.user-nav__link,
.catalog-menu__link,
.footer-user-nav__link {
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  font-family: "Open sans", Arial, sans-serif;
}

.user-nav__item {
  margin-left: 20px;
}

.user-nav__item--enter,
.user-nav__item--exit {
  margin-right: auto;
}

.user-nav__item--cart {
  margin-left: 40px;
}

.user-nav__link {
  position: relative;

  display: block;
  height: 49px;
  padding-left: 22px;

  line-height: 49px;

  background-repeat: no-repeat;
  background-position: 0 50%;
}

.user-nav__link--enter {
  padding-left: 26px;

  background-image: url("../img/svg/user.svg");
}

.user-nav__link--compare {
  background-image: url("../img/svg/compare.svg");
}

.user-nav__link--cart {
  background-image: url("../img/svg/cart.svg");
}

.user-nav__link--exit {
  padding-left: 0;

  opacity: 0.3;
}

.user-nav__link:hover,
.site-nav__link:hover,
.catalog-menu__link:hover,
.footer-user-nav__link:hover {
  opacity: 0.6;
}

.user-nav__link:focus,
.site-nav__link:focus,
.catalog-menu__link:focus,
.footer-user-nav__link:focus {
  opacity: 0.3;
}

.catalog-menu {
  position: relative;
}

.catalog-menu > svg {
  position: relative;
  top: 2px;

  display: inline-block;
  margin-left: 8px;

  opacity: 0.3;
}

.catalog-menu__dropdown {
  position: absolute;
  z-index: 10;

  display: none;
  -ms-flex-direction: column;
      flex-direction: column;
      flex-wrap: wrap;
  align-content: flex-start;
  min-width: 1160px;
  max-height: 164px;
  margin: 0 -60px;
  padding-top: 20px;
  padding-right: 60px;
  padding-bottom: 35px;
  padding-left: 60px;

  background-color: #f7e296;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-line-pack: start;
  -ms-flex-wrap: wrap;
}

.catalog-menu:hover .catalog-menu__dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-menu__item {
  min-width: 160px;
  margin-right: 42px;
}

.catalog-menu__item:nth-child(4) {
  margin-left: 15px;
}

.catalog-menu__item:nth-child(5) {
  margin-bottom: 30px;
  margin-left: 15px;
}

.main-slider {
  margin-bottom: 92px;
}

.main-slider__list {
  position: relative;

  margin: 0;
  padding: 0;

  list-style: none;

  background: -webkit-linear-gradient(#f7e296, #f7e296 114px, #ffffff 114px);
  background:      -o-linear-gradient(#f7e296, #f7e296 114px, #ffffff 114px);
  background:         linear-gradient(#f7e296, #f7e296 114px, #ffffff 114px);
}

.main-slider__item {
  position: absolute;
  top: 0;
  z-index: -1;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  min-height: 500px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.main-slider__counter {
  position: absolute;
  top: 65px;
  right: 48px;

  font-size: 179.2px;
  color: #ffffff;
}

.main-slider__item--current {
  position: relative;
  z-index: 1;
}

.main-slider__image {
  width: 580px;
  padding-right: 15px;

  text-align: center;
}

.main-slider__description {
  position: relative;

  width: 580px;
  padding-top: 80px;
  padding-left: 20px;
}

.main-slider__description::before {
  content: "";
  position: absolute;
  top: 39px;
  left: 20px;

  width: 100px;
  height: 7px;

  background-color: #ffffff;
}

.main-slider__description p {
  margin: 0;
}

.main-slider__description .main-slider__slogan {
  margin: 0;
  margin-bottom: 20px;

  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.5px;
}

.main-slider__description .main-slider__info {
  margin: 0;
  margin-bottom: 41px;

  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open sans", Arial, sans-serif;
  color: #464646;
}

.main-slider__info {
  padding-right: 65px;
}

.main-slider__parameters {
  margin-top: 45px;
}

.table-parameters td {
  width: 156px;
  padding: 0;

  text-align: left;
}

.table-parameters td:nth-child(2) {
  width: 135px;
}

.table-parameters__value {
  font-weight: 300;
  font-size: 36px;
  line-height: 51px;
}

.table-parameters__name {
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  font-family: "Open sans", Arial, sans-serif;
  color: #464646;
}

.categories {
  margin-bottom: 80px;
}

.categories__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  padding: 0;

  list-style: none;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.categories__item {
  width: 160px;
}

.categories__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 160px;
  margin-bottom: 35px;

  background-color: #f7e296;
  background-repeat: no-repeat;
  background-position: center;

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}

.categories__image--bottom {
  align-items: flex-end;

  -webkit-box-align: end;
  -ms-flex-align: end;
}

.categories__image:hover {
  background-color: #f0c52e;
}

.categories__link {
  color: inherit;
}

.categories__link:active,
.categories__link:active svg {
  opacity: 0.3;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin-bottom: 94px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.services__bg {
  background-image: -webkit-linear-gradient(transparent, transparent 100px, #e5e5e5 100px);
  background-image:      -o-linear-gradient(transparent, transparent 100px, #e5e5e5 100px);
  background-image:         linear-gradient(transparent, transparent 100px, #e5e5e5 100px);
}

.services-menu__list,
.services-slider__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.services-slider__list {
  padding-top: 72px;
}

.services-menu__item {
  margin-bottom: 22px;
}

.services-menu__list {
  width: 284px;
  min-height: 320px;
  margin-bottom: 70px;
  padding-top: 80px;

  border-right: 7px solid #000000;
}

.services-menu__link {
  min-width: 160px;
  padding-right: 25px;
  padding-left: 25px;

  font: inherit;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.services-menu__link:active::after {
  background-color: #000000;
}

.services-menu__link:active {
  color: #f7e184;
}

.services-menu__link--active {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;

  text-align: left;
  color: #f7e184;

  background-color: #000000;
}

.services-menu__link--active::after {
  content: none;
}

.services-slider {
  width: 760px;
}

.services-slider__item {
  position: relative;

  display: none;
  padding-right: 300px;
}

.services-slider__item--active {
  display: block;
}

.services-bg::after {
  content: "";
  position: absolute;
  top: 14px;
  right: 66px;

  background-repeat: no-repeat;
  background-position: top right;
}

.services-bg__delivery::after {
  width: 136px;
  height: 164px;

  background-image: url("../img/svg/delivery.svg");
}

.services-bg__warranty::after {
  width: 171px;
  height: 195px;

  background-image: url("../img/svg/warranty.svg");
}

.services-bg__credit::after {
  width: 156px;
  height: 188px;

  background-image: url("../img/svg/credit.svg");
}

.services-slider__header {
  margin-top: 0;
  margin-bottom: 33px;

  font-size: 47px;
  line-height: 48px;
  letter-spacing: 1.1px;
}

.services-slider__info {
  margin: 0;

  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open sans", Arial, sans-serif;
}

.logotypes {
  margin-bottom: 86px;
}

.logotypes__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.logotypes__image {
  opacity: 0.3;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.logotypes__image:hover {
  opacity: 1;
  -webkit-filter: none;
          filter: none;
}

.about-us-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.about-us {
  position: relative;

  width: 480px;
}

.about-us::before,
.contacts::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 80px;

  border-bottom: 7px solid #000000;
}

.contacts {
  position: relative;

  width: 560px;
}

.about-us__list {
  margin: 0;
  margin-bottom: 52px;
  padding: 0;

  list-style: none;
}

.about-us__header,
.contacts__header {
  margin-top: 52px;
  margin-bottom: 43px;

  font-size: 47px;
  line-height: 48px;
}

.about-us__text,
.contacts__text {
  margin: 0;
  margin-bottom: 30px;

  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open sans", Arial, sans-serif;
  letter-spacing: normal;
}

.about-us__text:last-of-type {
  margin-bottom: 66px;
}

.contacts__text:last-of-type {
  margin-bottom: 40px;
}

.contacts__map {
  margin-bottom: 60px;
}

.about-us__item {
  position: relative;

  padding-left: 36px;

  font-size: 16px;
  line-height: 40px;
  letter-spacing: normal;
}

.about-us__item:before {
  content: "";
  position: absolute;
  top: 17px;
  left: 1px;

  width: 8px;
  height: 8px;

  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.main-footer {
  padding-top: 54px;
  padding-bottom: 67px;

  color: #ffffff;

  background-color: #464646;
}

.main-footer__top,
.main-footer__middle,
.main-footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.main-footer__top {
  margin-bottom: 18px;
}

.main-footer__logo a {
  font: inherit;
  font-size: 48px;
  line-height: normal;
  color: #f0c52e;
  text-transform: uppercase;
}

.main-footer__logo a:hover {
  opacity: 0.6;
}

.main-footer__logo a:active {
  opacity: 0.3;
}

.footer-user-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-top: 6px;
  margin-right: -2px;
  padding: 0;

  list-style: none;
}

.footer-user-nav__link {
  position: relative;

  color: #ffffff;

  background-repeat: no-repeat;
  background-position: left center;
}

.footer-user-nav__link--enter,
.footer-user-nav__link--login {
  padding-left: 27px;

  background-image: url("../img/svg/user-footer.svg");
}

.footer-user-nav__link--compare {
  margin-left: 42px;
  padding-left: 20px;

  background-image: url("../img/svg/compare-footer.svg");
}

.footer-user-nav__link--cart {
  margin-left: 40px;
  padding-left: 24px;

  background-image: url("../img/svg/cart-footer.svg");
}

.footer-user-nav__link--logout {
  margin-left: 20px;

  opacity: 0.3;
}

.main-footer__middle {
  align-items: baseline;
  margin-bottom: 61px;

  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
}

.main_footer__address,
.main_footer__phone {
  margin: 0;

  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open sans", Arial, sans-serif;
  color: #ffffff;
  letter-spacing: initial;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  min-width: 426px;
  margin: 0;
  margin-left: -37px;
  padding: 0;

  list-style: none;

  -ms-flex-wrap: wrap;
}

.footer-nav__item:not(:last-child) {
  margin-right: 34px;
}

.footer-nav__link {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.footer-nav__link:hover {
  opacity: 0.6;
}

.footer-nav__link:active {
  opacity: 0.3;
}

.main-footer__bottom {
  position: relative;

  align-items: baseline;

  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
}

.main-footer__bottom::before {
  content: "";
  position: absolute;
  top: 15px;

  width: 80px;
  height: 7px;

  background-color: #ffc600;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-left: 509px;
}

.socials__link {
  font-weight: normal;
  color: #ffffff;
}

.socials__link {
  width: 32px;
  height: 32px;
  margin-right: 23px;

  background-repeat: no-repeat;
  opacity: 0.3;
}

.socials__link:last-child {
  margin-right: 0;
}

.socials__link:hover {
  opacity: 0.6;
}

.socials__link:active {
  opacity: 0.1;
}

.socials__fb {
  background-image: url("../img/svg/fb.svg");
}

.socials__ig {
  background-image: url("../img/svg/instagram.svg");
}

.socials__twitter {
  background-image: url("../img/svg/twitter.svg");
}

.logo-academy__image:hover {
  opacity: 0.6;
}

.logo-academy__image:active {
  opacity: 0.3;
}

.model-feedback {
  width: 960px;
  padding: 85px 100px;

  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 20px 0 rgba(2, 6, 6, 0.2);
          box-shadow: 0 10px 20px 0 rgba(2, 6, 6, 0.2);
}

.model-feedback__input {
  background-color: #f2f2f2;
  border: 3px solid transparent;
}

.model-feedback__input {
  font-size: 14px;
  line-height: 18px;
  font-family: "Open sans", Arial, sans-serif;
  color: #464646;
}

.model-feedback__input:hover {
  background-color: #eaeaea;
}

.model-feedback__input:focus {
  background-color: #ffffff;
  border-color: #f7e296;
  outline: none;
}

.model-feedback__input::-webkit-input-placeholder {
  color: #464646;

  opacity: 0.4;
}

.model-feedback__input:-ms-input-placeholder {
  color: #464646;

  opacity: 0.4;
}

.model-feedback__input::-ms-input-placeholder {
  color: #464646;

  opacity: 0.4;
}

.model-feedback__input::placeholder {
  color: #464646;

  opacity: 0.4;
}

.model-feedback__input:invalid {
  background-color: #f6dada;
}

/*******************
      Catalog
*******************/

.page-title {
  margin: 0;
  margin-top: 37px;
  margin-bottom: 23px;
  padding-left: 60px;

  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.6px;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-bottom: 46px;
  padding: 0;
  padding-left: 60px;

  list-style: none;
}

.breadcrumbs__item {
  position: relative;

  margin-right: 19px;
  padding-right: 18px;

  background-repeat: no-repeat;
  background-position: right 10px;
}

.breadcrumbs__item:last-child {
  margin-right: 0;
  padding-right: 0;
}

.breadcrumbs__item:not(:last-child) {
  background-image: url("../img/svg/nav-arrow.svg");
}

.breadcrumbs__link {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  font-family: "Open sans", Arial, sans-serif;
  color: #000000;

  opacity: 0.3;
}

.breadcrumbs__link:hover {
  opacity: 0.6;
}

.breadcrumbs__link:active {
  opacity: 0.1;
}

.catalog-bg {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(40%, #dcdcdc), color-stop(40%, #ebebeb)),
  -webkit-gradient(linear, left top, right top, color-stop(40%, #eeeeee), color-stop(40%, #ffffff));
  background-image: -webkit-linear-gradient(left, #dcdcdc 40%, #ebebeb 40%),
  -webkit-linear-gradient(left, #eeeeee 40%, #ffffff 40%);
  background-image:      -o-linear-gradient(left, #dcdcdc 40%, #ebebeb 40%),
  -o-linear-gradient(left, #eeeeee 40%, #ffffff 40%);
  background-image:         linear-gradient(90deg, #dcdcdc 40%, #ebebeb 40%),
  linear-gradient(90deg, #eeeeee 40%, #ffffff 40%);
  /*background-position: 40% 0;*/
  background-repeat: no-repeat;
  background-size: 100% 70px, 100%;
}

.catalog-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter {
  width: 328px;
  padding-left: 60px;
}

.filter form {
  width: 200px;
  margin-top: 69px;
}

.filter__title-wrapper {
  background-color: #dcdcdc;
}

.filter__block-items {
  margin: 0;
  padding: 0;

  border: none;
}

.filter__block-items:not(:last-of-type) {
  margin-bottom: 31px;
}

.filter__name {
  display: block;
  width: 100%;
  margin-bottom: 17px;
  padding-top: 10px;

  border-top: 2px solid #000000;
}

.filter__name--range-title {
  margin-bottom: 35px;
}

.filter__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter__title,
.filter-sort__title {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.24em;
}

.filter__title,
.filter-sort__title {
  margin: 0;
  padding-top: 23px;
  padding-bottom: 23px;
}

.filter-sort__title {
  display: block;
}

.filter__item label {
  position: relative;

  padding-left: 40px;

  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  font-family: "Open sans", Arial, sans-serif;

  cursor: pointer;
}

.filter__checkbox + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;

  width: 27px;
  height: 23px;

  background-image: url("../img/svg/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.filter__checkbox:checked + label::before {
  background-image: url("../img/svg/checkbox-on.svg");
}

.filter__checkbox:hover + label::before,
.filter__radio:hover + label::before {
  opacity: 0.6;
}

.filter__checkbox:active + label::before,
.filter__radio:active + label::before {
  opacity: 1;
}

.filter__checkbox:disabled + label,
.filter__radio:disabled + label {
  cursor: not-allowed;
  opacity: 0.25;
}

.filter__checkbox:disabled + label,
.filter__radio:disabled + label {
  cursor: not-allowed;
  opacity: 0.25;
}

.filter__checkbox:focus + label::before,
.filter__radio:focus + label::before {
  outline: rgb(77, 144, 254) solid 2px;
}

.filter__radio + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -2px;

  width: 25px;
  height: 25px;

  background-image: url("../img/svg/radio-off.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.filter__radio:checked + label::before {
  background-image: url("../img/svg/radio-on.svg");
}

.filter-sort {
  padding-left: 72px;

  background-color: #ebebeb;
}

.filter-sort__item:not(:last-child) {
  margin-right: 30px;
}

.filter-sort__item:first-child {
  margin-right: 49px;
}

.filter-sort__item:nth-last-child(2) {
  margin-right: 19px;
  margin-left: auto;
}

.filter-sort__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: baseline;
  margin: 0;
  padding: 0;

  list-style: none;

  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
}

.filter-sort__link {
  position: relative;

  font-size: 14px;
  line-height: 18px;
  font-family: "Open sans", Arial, sans-serif;
  color: inherit;
  letter-spacing: normal;

  opacity: 0.3;
}

.filter-sort__link:hover {
  opacity: 0.6;
}

.filter-sort__link-desc {
  display: block;
  width: 11px;
  height: 10px;

  background-image: url("../img/svg/icon-up-dir.svg");
  opacity: 0.3;
}

.filter-sort__link-asc {
  display: block;
  width: 11px;
  height: 10px;

  background-image: url("../img/svg/icon-down-dir.svg");
  opacity: 0.3;
}

.filter-sort__link:active,
.filter-sort__link--active {
  opacity: 1;
}

.filter button {
  margin-top: 31px;
}

.filter-range__scale {
  position: relative;

  width: 100%;
  height: 2px;

  background-color: #dbdbdb;
}

.filter-range__scale::after {
  content: "";
  position: absolute;
  right: 40%;
  left: 0;

  height: 2px;

  background-color: #91c92f;
}

.filter-range__toggle {
  position: absolute;
  top: -9px;
  z-index: 10;

  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 4px;
  height: 4px;
  padding: 0;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;

  -webkit-transition: -webkit-transform 0.3s;
       -o-transition:         transform 0.3s;
          transition: -webkit-transform 0.3s;
          transition:         transform 0.3s;
          transition:         transform 0.3s, -webkit-transform 0.3s;
}

.filter-range__toggle:active {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.filter-range__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.filter-range__min-price,
.filter-range__max-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;

  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2);
  letter-spacing: initial;
}

.filter-range__min-price input,
.filter-range__max-price input {
  display: inline-block;
  width: 70px;
  padding-left: 5px;

  font: inherit;
  color: inherit;

  background-color: transparent;
  border: none;
}

.filter-range__toggle--min {
  left: 0;

  margin-left: -10px;
}

.filter-range__toggle--max {
  right: 40%;

  margin-right: -10px;
}

.catalog {
  width: 832px;

  background-color: #ffffff;
}

.catalog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  margin: 0;
  margin-top: 69px;
  padding: 0;
  padding-left: 72px;

  list-style: none;

  -ms-flex-wrap: wrap;
}

.catalog__item {
  width: 360px;
  margin-right: 40px;
  margin-bottom: 45px;
}

.item__title {
  margin: 0;

  font: inherit;
}

.catalog__item:nth-child(even) {
  margin-right: 0;
}

.item__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;

  -webkit-box-pack: justify;
  -ms-flex-line-pack: start;
  -ms-flex-pack: justify;
}

.item__image {
  position: relative;

  height: 380px;
  margin-bottom: 32px;
}

.item__image:hover .item__hover {
  visibility: visible;
}

.item__hover {
  position: absolute;
  top: 0;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background-color: rgba(238, 238, 238, 0.7);
  visibility: hidden;

  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}

.item__add-to-compare {
  font-weight: 300;
  font-size: 13px;
  line-height: 36px;
  font-family: "Open sans", Arial, sans-serif;

  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0.5;
}

.item__add-to-compare:hover {
  opacity: 1;
}

.item__add-to-compare:active {
  opacity: 0.2;
}

.item__link {
  color: inherit;
}

.item__price {
  min-width: 100px;

  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  font-family: "Open sans", Arial, sans-serif;
  text-align: right;
}

.pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0;
  margin-top: -9px;
  margin-bottom: 77px;
  margin-left: 72px;
  padding: 0;

  list-style: none;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;

  background-color: #ebebeb;

  -webkit-box-align: baseline;
  -webkit-box-pack: justify;
  -ms-flex-align: baseline;
  -ms-flex-pack: justify;
}

.pagination__link {
  color: #000000;

  opacity: 0.3;
}

.pagination__link:hover {
  opacity: 0.6;
}

.pagination__link:active,
.pagination__link--current {
  opacity: 1;
}

.pagination__link {
  display: block;
  padding: 24px 15px 22px;
}

.pagination__link--move .pagination__link {
  display: block;
  min-width: 134px;
  padding: 24px 29px 22px;

  letter-spacing: 4px;

  opacity: 1;
}

.pagination__link--move:last-child .pagination__link {
  padding-right: 25px;

  text-align: right;
}

.pagination__link--move:hover {
  background-color: #d9d9d9;
}

.pagination__link--move:active .pagination__link {
  opacity: 0.3;
}

.pagination__item:first-child {
  margin-right: auto;
}

.pagination__item:last-child {
  margin-left: auto;
}

.modal {
  display: none;
}

.modal-map__wrapper {
  width: 960px;
  height: 559px;
}
